* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #8057ab;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #8057ab;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
.icon{
  background-color: black;
  position: fixed;
  right: 30px;
  top: 10;
  font-size: 80px;
  color: orangered;
  cursor: pointer;
  z-index: 1000;
}

nav{
        
        background-color:black;
        color: white;
        height: 100px; 
}
h1,ul,li,.icon{
  display: inline;
}
ul{
  margin-left: 50%;
}
.chatbox{
  position: fixed;
  right: 20px;
  top: 100px;
  width: 400px;
  height: 75vh;
  background-color: #dedede;
  z-index: 1000;
  transition: all 0.3s ease-out;
  transform: scaleY(0);
}